{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Cotton Move{% endblock %}</title>
  <link href="{% static 'images/favicon.ico' %}" rel="icon" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar" >
      <div class="navbar__items" >
        <img class="navbar__image" src="{% static 'images/cotton-move.png' %}" alt="Cotton Move">
        <a class="navbar__links" href="{% url 'about_cotton_move' %}">Quem Somos</a>
        <a class="navbar__links" href="{% url 'about_platform' %}">Sobre a plataforma</a>
        <a class="navbar__links" href="{% url 'news' %}">Fique por dentro</a>
        <button class="navbar__button" >descarte aqui</button>
        </div>
        <i id="navbar__menu-icon" class="material-icons" >menu</i>
      </div>
    </nav>
  </header>
  <aside id="sidebar" class="sidebar" >
    <a id="sidebar__close-btn" class="sidebar__close-btn" >
      <i id="close-btn__icon" class="material-icons">close</i>
    </a>
    <a href="#" class="sidebar__btn">
      <div class="btn__content">
        <i class="material-icons">home</i>
        Home
      </div>
    </a>
    <a href="#" class="sidebar__btn--mobile">
      <div class="btn__content">
        <i class="material-icons">compost</i>
        Descarte Aqui
      </div>
    </a>
    <a href="#" class="sidebar__btn--mobile">
      <div class="btn__content">
        <i class="material-icons">groups</i>
        Quem Somos
      </div>
    </a>
    <a href="#" class="sidebar__btn--mobile">
      <div class="btn__content">
        <i class="material-icons">eco</i>
        Sobre a Plataforma
      </div>
    </a>
    <a href="#" class="sidebar__btn">
      <div class="btn__content">
        <i class="material-icons">recycling</i>
        Economia Circular
      </div>
    </a>
    <a href="#" class="sidebar__btn">
      <div class="btn__content">
        <i class="material-icons">my_location</i>
        Rastreabilidade
      </div>
    </a>
    <a href="#" class="sidebar__btn--mobile">
      <div class="btn__content">
        <i class="material-icons">newspaper</i>
        Fique por Dentro
      </div>
    </a>
    <a href="#" class="sidebar__btn">
      <div class="btn__content">
        <i class="material-icons">mail</i>
        Contato
      </div>
    </a>
    <a href="#" class="sidebar__btn">
      <div class="btn__content">
        <i class="material-icons">live_help</i>
        faq
      </div>
    </a>
  </aside>

  <main>
    {% block content %}{% endblock %}
  </main>

<script src="{% static 'js/sidebar_function.js' %}"></script>  
</body>
</html>